@import url('reset.css');
@import url('common.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:regular');

body {
   font-family: 'Poppins', sans-serif;
   color: #f5f5f5;
   font-size: 18px;
   background-color: #252525;
}

.white {
   background-color: #f5f5f5;
}

.green {
   background-color: rgb(92, 123, 73);
}

[class*='__container'] {
   max-width: 1310px;
   margin: 0 auto;
   padding: 0 15px;
}

.block {
   padding: 70px 0;
}
.block__container {
}
.block__title {
   font-size: 36px;
   line-height: 125%;
}
.block__title:not(:last-child) {
   margin-bottom: 25px;
}
.block__body {
}
.block__body:not(:last-child) {
   margin-bottom: 30px;
}
.block__box:not(:last-child) {
   margin-bottom: 40px;
}
.block__subtitle {
   font-size: 24px;
   line-height: 125%;
}
.block__subtitle:not(:last-child) {
   margin-bottom: 20px;
}
.block__list {
}
.block__item {
}
.block__item {
   display: grid;
   justify-items: start;
   row-gap: 5px;
}
.block__item:not(:last-child) {
   margin-bottom: 15px;
}
.block__link {
   line-height: 120%;
   transition: color 0.3s ease 0s;
}
.block__link:hover {
   color: #ffff00;
}
.block__text {
   line-height: 1.5;
}
.block__text:not(:last-child) {
   margin-bottom: 10px;
}
.block__table:not(:last-child) {
   margin-bottom: 1.25rem;
}
/* ======================================================================================================================================================== */
.block__products {
   display: grid;
   gap: 2rem;
}
.block__product {
}
.product {
   display: flex;
   align-items: center;
   gap: 1.25rem;
}
.hi {
   background-color: #ffff00;
}
.selected {
   border: 1px solid green;
}
.product__img {
   max-width: 60px;
}
.product__body {
}
.product__title {
   display: inline-flex;
   transition: color 0.3s ease 0s;
}
.product__title:hover {
   color: #ffff00;
}
.product__title:not(:last-child) {
   margin-bottom: 0.9375rem;
}
.product__price {
   font-size: 24px;
   color: red;
}

.quantity-container {
}
.quantity-container__button {
   width: 40px;
   height: 40px;
   color: #252525;
   background-color: #f5f5f5;
   border: 1px solid gray;
}
.quantity-container__input {
   text-align: center;
   color: #252525;
   height: 40px;
   max-width: 80px;
}

.product__price-container {
   display: flex;
   gap: 0.75rem;
   align-items: center;
}
/* ======================================================================================================================================================== */
.block__columns {
   display: grid;
   row-gap: 30px;
}

.block__columns div {
   display: flex;
   gap: 60px;
   justify-content: center;
}

.list {
   display: grid;
   align-content: start;
   row-gap: 10px;
   border: 2px solid #fff;
   padding: 20px 15px;
}

.list__item {
   cursor: pointer;
   padding: 5px 10px;
   border: 1px solid grey;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   transition: background 0.3s ease 0s;
}

.list__item:hover {
   background-color: grey;
}

.label-search:not(:last-child) {
   display: inline-flex;
   align-items: center;
   gap: 1.25rem;
   margin-bottom: 1.875rem;
}

.label-search input {
   color: #252525;
}

.workers-list {
   padding-top: 1.25rem;
   display: grid;
   row-gap: 0.625rem;
}

.td {
   width: 24px;
   height: 24px;
   background-color: gray;
   border: 1px solid #f5f5f5;
   cursor: pointer;
}

.td_green {
   background-color: green;
}

.td_red {
   background-color: red;
}
.input {
   color: #252525;
   padding: 0.625rem 0.9375rem;
}
.block__results {
   line-height: 1.5;
}
.exercises {
   display: grid;
   row-gap: 1.25rem;
}

.block__tasks {
   display: grid;
   row-gap: 3rem;
}

.task {
   display: grid;
   row-gap: 1rem;
   padding: 1.25rem 0.9375rem;
   border: 1px solid #f5f5f5;
}

.cat-box {
   display: flex;
   justify-content: center;
}

.cat-box:not(:last-child) {
   margin-bottom: 1.875rem;
}

.cat-image {
   max-width: 400px;
}
